<?xml version="1.0" encoding="utf-8" standalone="no"?>
<application xmlns="http://ns.adobe.com/air/application/3.1">
	<id>air.MobilePD</id>
	<versionNumber>1.0</versionNumber>
	<supportedProfiles>mobileDevice</supportedProfiles>
	<filename>Pakkuman's Defense</filename>
	
	<name>Pakkuman's Defense</name>
	<copyright>Ido Yehieli</copyright>
	
	<initialWindow>
		<title>Pakkuman's Defense</title>
		<content>MobilePD.swf</content>
		<visible>true</visible>
		<fullScreen>true</fullScreen>
		<autoOrients>false</autoOrients>
		<aspectRatio>landscape</aspectRatio>
		<renderMode>direct</renderMode>
	</initialWindow>


</application>